<h2>
  Edit Contents
</h2>

<div style="max-width: 500px">
  <form>
    <div style="display:flex; flex-direction: column; max-width: 500px;">
      <div style="margin-top: 2%;" >
        <label for="id" style="float: left;">New Id: </label>
        <input name="id" style="float:right;" type="text" [value]="id" readonly />
      </div>

      <div style="margin-top: 2%">
        <label for="name" style="float: left;">New Name:</label>
        <input type="text" style="float:right;" name="name" [(ngModel)]="name" />
      </div>

      <div style="margin-top: 2%">
        <label for="address" style="float: left;">New Address: </label>
        <input type="text" style="float:right ;" name="address" [(ngModel)]="address" />
      </div>

      <div style="margin-top: 2%">
        <label for="mobileno" style="float: left;">New Number: </label>
        <input type="text" style="float:right;" name="mobileno" [(ngModel)]="mobileno" />
      </div>

    </div>
  </form>
  <hr>
  <button (click)="goBack()" style="margin-top:2%; float: left;" class="btn btn-primary">Go Back</button>
  <button (click)="extractData()" style="margin-top:2% ;float: right;" class="btn btn-primary">Submit</button>
</div>
