<h2>
  Edit Contents
</h2>

<div style="max-width: 500px">

  <div [formGroup]="form">
    <mat-form-field>
      <label for="id">New Id: </label>
      <input matInput [value]="id" id="id" formControlName="id" readonly>
    </mat-form-field>
    <hr>

    <mat-form-field>
      <label for="name">New Name: </label>
      <input matInput id="name" type="text" [value]="name" formControlName="name" />
    </mat-form-field>
    <hr>

    <mat-form-field>
      <label for="address">New Address: </label>
      <input id="address" matInput [value]="address" formControlName="address" />
    </mat-form-field>
    <hr>

    <mat-form-field>
      <label for="mobileno">New Number: </label>
      <input id="mobileno" matInput [value]="mobileno" formControlName="mobileno" />
    </mat-form-field>
  </div>

  <hr>
  <button (click)="extractData()" style="margin-top:2% ;float: right;" class="btn btn-primary">Submit</button>
  <button (click)="goBack()" style="margin-top:2%; float: left;" class="btn btn-primary">Go Back</button>
</div>
