<h2 mat-dilaog-title>
  Test
</h2>

<mat-dialog-content [formGroup]="form">
  <div>afmods</div>

  <mat-form-field>
    <input matInput placeholder="Name?" formControlName="description" >
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Address" formControlName="description" >
  </mat-form-field>

  <mat-form-field> 
    <input matInput placeholder="Phone Number?" formControlName="description" >
  </mat-form-field> 
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary" (click)="save()">
    Save
  </button> 
</mat-dialog-actions>