<div style="max-width: 802px;">
    <ag-grid-angular #agGrid
                    style="width:802px; /* height: 500px; */"
                    class = "ag-theme-balham"
                    [rowData] = "rowData | async"
                    [columnDefs] = "columnDefs"
                    rowSelection="multiple"
                    domLayout='autoHeight'
    >

    </ag-grid-angular>

    <!--Add a button to send data to get selected rows-->
    <button style="float: right; margin-top: 0.1%" class="btn btn-primary" (click) = "getSelectedRows()">Get Rows</button>
    <button style="float : left; margin-top: 0.1%" class="btn btn-primary">Register</button>
</div>
<!-- <router-outlet></router-outlet> -->
